*{
  padding: 0; 
  margin: 0; 
  border: 0;
}
*,*:before,*after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus, active{outline: none;}
a:focus, a:active{outline: none;}

nav, footer, header, aside{display: block;}

html, body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-abjust: 100%;
  -moz-text-size-abjust: 100%;
  -webkit-text-size-abjust: 100%;
}
input, button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
// button{cursor: pointer;}
/*Возможно когда-нибудь будет ситуация, когда нуно убрать крестик, который появляется в браузере Explore в поисковике. Если она не нужна, то убрать эту команду*/ 
button::-moz-focus-inner{padding: 0; border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

/*ОСНОВНЫЕ ТЕГИ================================*/
body{
  font-family: "Inter", sans-serif;
}

/*ОБЩИЕ ТЕГИ КАК КОНТЕЙНЕР, НАЗВАНИЯ И ТП =====*/
.__container {
  padding: 0px 146px 0px 149px;
}

.__title {
  color: #111416;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
}

.__logo{
  background:url(../fonts/Sss.svg) center no-repeat;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/*ШАПКА САЙТА==================================*/

.header__body {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header_box{
  display: flex;
  flex-direction: row;
}
.header__main {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  background-color: #4A4DC7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__menu {
  margin-left: 26px;
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
}
.menu__item {
  margin: 19.5px 24px;
}

.menu__link {
  color:#000000;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  letter-spacing: 0.3px;
}
.bold{
  font-weight: 700;
}

.sign__list {
  display: flex;
  flex-wrap: wrap;
}
.path2{
  background: white;
  color: #1A21BC;
  width: 165px;
  height: 64px;
  border-radius: 4px;
  font-size: 16px;
}

.path21{
  width: 165px;
  height: 64px;
  background: #1A21BC;
  font-size: 16px;
  color:#FDFDFD;
  border-radius: 4px;
  margin-left: 30px;
}

/*КОНТЕНТ-ADVANCE==================================*/

.main {
  min-height: calc(100vh - 495px);
}

.path1_skills {
  display: flex;
  margin-top: 78px;
}
.text-content__title {
  color: #303030;
  font-weight: 700;
  font-size: 84px;
  line-height: 102px;
}
.text-content__text {
  margin-top: 15px;
  margin-bottom: 27px;
  color:#2D2F30;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}
.text-content__choise{
  display: flex;
}

.mark-label{
  display: flex;
  align-items: center;
  margin-left: 48px;
}
.mark-check {
  display: none;
}
.mark-label:first-child{
  margin-left: 0px;
}
.mark-fake {
  display: inline-block;
  width: 24px;
  height: 24px;
  position: relative;
}
.mark-fake::before{
  content: '';
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  background-color: #F5F9FF;
  border-radius: 8px; 
}
.mark-check:checked + .mark-fake::before{
  background-color: #F5F9FF;
  border-radius: 8px; 
  background-image: url(../fonts/mark.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.mark-text {
  margin-left: 12px;
  color: #3D424F;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
}
.text-JS__container {
  margin-top: 51px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.JS-body{
  width: 653px;
  height: 114px;
  background-color: #F7FDFF;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.JS-list {
  margin-left: 31px;
}
.JS-list__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.JS-list__choise{
  margin-top:15px;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  background-color: #F7FDFF;
}
.JS__box{
  margin-right: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 175px;
  height: 64px;
  background:#1A21BC;
  border-radius: 5px;
}
.JS__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  color: #FDFDFD;
}

.figura_main {
  position: relative;
  height: 540px;
  width: 440px;
  background-color: #4285F4;
  border-radius:198.5px 0px 198.5px 198.5px;
  box-shadow: 42px 13px 0px -8px #ecf3ff;
}
.figura_other1 {
  position: absolute;
  border: 3px solid #fff;
  height: 48px;
  width: 48px;
  background-color: #FFC700;
  border-radius: 50%;
  top: 515px;
  left: 160px;
}

.figura_other2 {
  position: absolute;
  border: 3px solid #fff;
  height: 48px;
  width: 48px;
  background-color:#1A21BC;
  border-radius: 50%;
  top: 515px;
  left: 190px;
}
.figura_other3 {
  position: absolute;
  border: 3px solid #fff;
  height: 48px;
  width: 48px;
  background-color: green;
  border-radius: 50%;
  top: 515px;
  left: 50%;
}

/*КОНТЕНТ-COMPANY=======================================*/
.page_company{
  margin-top: 69px;
}
.company_container {
  background: #F5F9FF;
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  height: 220px;
}
.company__title {
  margin-top: 56px;
  color:#111416;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}
.company_item {
  display: flex;
  margin-top: 42px;
}
.company__icon {
  align-self: center;
  margin-left: 64px;
}
.company__icon:first-child{
  margin-left: 0px;
}
/*КОНТЕНТ - COURSES============================================*/
.courses_container{
  padding-top: 49px;
}
.courses__body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.course__button{
  background-color: #1A21BC;
  display: flex;
  width: 194px;
  height: 64px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
}
.couses__button1 {
  color: #FDFDFD;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px
}
.courses__choise {
  margin: 48px 0 40px 0;
}
.choise__menu {
  display: flex;
}
.choise__item {
  margin-left: 32px;
}
.choise__item:first-child {
  margin-left: 0px;
}
.course__link {
  color:#373737;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
.bluee{
  color: blue;
}
.couses__cards {
  display: flex;
  flex-direction: row;
}
.couses__card{
  margin-left: 25px;
  position: relative;
  top: 0;
}
.couses__card:first-child{
  margin-left: 0;
}
.card-course{
  display: inline-block;
  overflow: hidden;
  border-radius: 10px;
}
.course_img{
/*Дальше код убирает лишние контексты, это происходит из-за трансформируемых элементов*/
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
}

.card-course:hover .course_img{
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.card-course__content {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  background: white;
  width: 263px;
  color: #101010;
  box-shadow: 30px 30px 55px 30px #e1e1e1;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
}
.card-course__content:hover{
  background: blue;
  color: #ffffff;
}
.card-course__name {
  display: flex;
  justify-content: space-between;
  margin: 9px 12px 0px 11px;
}
.name__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}
.name__price {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}
.card-course__title{
  margin-left: 10.5px;
  margin-top: 9px;
}
.card-course__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
.card-course__text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 12px 11px;
}
.tezt_stars {
  display: flex;
}
.star{
  margin-right: 3.5px;
}

/*КОНТЕНТ - MENTORS===========================================*/
.mentor__container{
  margin-top: 177px;
}
.mentor__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.mentor__button {
  background-color: #1A21BC;
  display: flex;
  width: 261px;
  height: 64px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
}
.button_mentor {
  color:#FDFDFD;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
.button_mentor span{
  font-weight: 700;
}
.mentor_items {
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
}
.box{
  margin-right: 32px;
}
.box:nth-child(3){
  margin-right: 0px;
}
.box:last-child{
  margin-right: 0px;
}
.__box {
  margin-top: 28px;
  text-align: center;
}
.box-title {
  color: #333333;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}
.box-text {
  margin-top: 10px;
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}
/*ПОДВАЛ=====================================================*/
.footer {
  background: #00056B;
  margin-top: 108px;
}
.footer__container {
  padding-top: 108px;
  display: flex;
  flex-direction: column;
}
.footer_items{
  display: flex;
}
.footer__main {
  display: flex;
  flex-direction: column;
}
.footer_logimg {
  margin: auto;
  background-color: #282C8C99;
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 8px;
  display: flex ;
  align-items: center;
  justify-content: center;
}
.footer__logo {
  margin: 18px 0px 0px 70px;
  color: #FDFDFD;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}
.footer__text {
  margin: 48px 0px 23px 0px;
  color: #FDFDFD;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.5px;
}
.footer__media {
  display: flex;
}
.media-footer {
  margin-right:16px;
  background-color: #282C8C;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex ;
  align-items: center;
  justify-content: center;
}
.footer__menu {
  margin-left: 224px;
}
.menu-footer {
  display: flex;
}
.media-footer__item img{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.menu-footer__column {
  margin-right: 50px;
}
.menu-footer__title {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.menu-footer__title1{
  color: #FFFFFF;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.menu-footer_list {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}
.menu-footer__link {
  margin-top: 12px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.test input{
  background: #FDFDFD;
  opacity: 0.2;
  border-radius: 8px;
  display: flex;
  font-size: 16px;
  padding: 8px 25px;
  line-height: 24px;
}
.test{
  display: flex;
}
.test img{
  margin-left: -39.5px;
}
.footer__end{
  margin: 95px 0px 34px 0; 
  display: flex;
  justify-content: center;
}
.footer__end p {
  color: #FDFDFD;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
